#content
  .title Email Sent
  .notice= clear_notice(notice)
  .cred
    CONGRATS! YOUR EMAIL HAS BEEN SENT
    %br
    %br
    IF THE USER RETURNS YOUR EMAIL IT WILL BE DELIVERED TO THE EMAIL ACCOUNT YOU REGISTERED WITH
  .cred
    = button_to "Search", new_search_url