%br.clear

.notice= clear_notice(notice)

.row
  .ads

  
.bottom_nav
  %br.clear
  %br.clear
  = link_to '&laquo; Back', login_path, :class => 'med-black-button', :style => "float: right; padding: 10px 58px"
  
  %br.clear