<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Welcome to CONNECTING SEXES</title>
<link href="css.css" type="text/css" rel="stylesheet" />
<style type="text/css">
<!--
.style1 {font-size: 12px}
-->
</style>
</head>

<body>
<table align="center" width="1099" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><table width="846" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="index.html"><img src="images/home-menu.jpg" width="61" height="48" border="0" /></a></td>
            <td><a href="about.html"><img src="images/about-menu.jpg" width="188" height="48" border="0"/></a></td>
			<td><a href="index.html"><img src="images/signup-menu.jpg" width="199" height="48" border="0"/></a></td>
			<td><a href="group-leader-log-in.html"><img src="images/login-menu.jpg" width="189" height="48" border="0"/></a></td>
			<td><a href="#"><img src="images/contact-menu.jpg" width="209" height="48" border="0"/></a></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td><img src="images/line.jpg" width="1099" height="22" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="text"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="padding: 20px 0px;"><table width="759" border="0" cellspacing="0" cellpadding="0">
          <tr>
			<td width="417" height="423" background="images/group-name.jpg" style="background-repeat:no-repeat;" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25">&nbsp;</td>
                <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="38">&nbsp;</td>
                  </tr>
				  <tr>
                    <td align="left" class="text3" style="font-size:17px; line-height:18px;">GROUP NAME<br />
                      <span class="style1">All fields are required.</span></td>
                  </tr>
				  <tr>
                    <td height="35"></td>
                  </tr>
                  <tr>
                    <td align="left"><input class="input" type="text" name="textfield" style="border:none; width:350px; height:23px; background:none;"  onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'EMAIL':this.value;" value="EMAIL" /></td>
                  </tr>
                  <tr>
                    <td height="15"></td>
                  </tr>
                  <tr>
                    <td align="left"><input class="input" type="text" name="textfield" style="border:none; width:360px; height:23px; background:none;"  onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'CITY':this.value;" value="CITY" /></td>
                  </tr>
                  <tr>
                    <td height="15"></td>
                  </tr>
                  <tr>
                    <td align="left"><input class="input" type="text" name="textfield" style="border:none; width:360px; height:23px; background:none;"  onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'ZIPCODE':this.value;" value="ZIPCODE" /></td>
                  </tr>
                  <tr>
                    <td height="15"></td>
                  </tr>
				                    <tr>
                    <td align="left"><input class="input" type="text" name="textfield" style="border:none; width:350px; height:23px; background:none;"  onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'SIZE OF MY GROUP':this.value;" value="SIZE OF MY GROUP" /></td>
                  </tr>
                  <tr>
                    <td height="15"></td>
                  </tr>
                  <tr>
                    <td align="left"><input class="input" type="text" name="textfield" style="border:none; width:350px; height:23px; background:none;"  onclick="this.value='';" onfocus="this.select()" onblur="this.value=!this.value?'GENDER OF MY GROUP':this.value;" value="GENDER OF MY GROUP" /></td>
                  </tr>
                  <tr>
                    <td height="25"></td>
                  </tr>
                  <tr>
                    <td align="left" style="padding-left:101px;"><a href="#"><img src="images/continue1.jpg" border="0" /></a></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td style="padding-bottom:20px;"><img src="images/line.jpg" width="1099" height="22" /></td>
      </tr>
      <tr>
        <td align="center"><table width="846" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="269" height="165" background="images/img-bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" class="text1">Fit to Date</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="center"><img src="images/img1.jpg" width="200" height="82" /></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
            <td width="269" height="165" background="images/img-bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" class="text1">Life STYLE</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="center"><img src="images/img2.jpg" /></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
            <td width="269" height="165" background="images/img-bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" class="text1">Tales from the Date</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="center"><img src="images/img3.jpg" /></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" height="50"><table width="846" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td align="right"><table width="5%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="#"><img src="images/t.jpg" width="33" height="30" border="0" /></a></td>
            <td><a href="#"><img src="images/f.jpg" width="17" height="30" border="0" /></a></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>

</body>
</html>
