.title Groups Member Profile 1
.notice= clear_notice(notice)
.row
  = label :created_at, "Coming Soon"
  .field
    = text_field_tag :created_at, 'Stay tune!', :class => 'text_field', :readonly => true
  %br.clear