.title Helpful Resources
%br
.cred= link_to 'Fashion Indie', 'http://www.fashionindie.com', :target => '_blank', :class => 'black-button', :style => "padding: 10px 53px"
%br
.cred= link_to 'Local Offers', 'http://www.groupon.com', :target => '_blank', :class => 'black-button', :style => "padding: 10px 56px"
%br
.cred= link_to 'Restaurants', 'http://www.opentable.com', :target => '_blank', :class => 'black-button', :style => "padding: 10px 54px"
%br
.cred= link_to 'Reviews', 'http://www.yelp.com', :target => '_blank', :class => 'black-button', :style => "padding: 10px 64px"
#spacer