- content_for :head do
  %link{:href => "/images/connectingsexes-logo.png", :rel => "apple-touch-icon"}
  %link{:href => "/stylesheets/add2home.css", :rel => "stylesheet"}
  %script{:src => "/javascripts/add2home.js", :type => "application/javascript"}
  / %script{:src => "/javascripts/addtohomespecs.js", :type =>"application/javascript"}
  / %script{:src => "/javascripts/addtohome.js", :type => "application/javascript"}

.title
  Add Icon to your device
  
/ .row 
/   %br
/   &nbsp;&nbsp;&nbsp;Tap 
/   = image_tag 'iphone.png'
/   <br>&nbsp;&nbsp;&nbsp;Press <strong> Add to Home Screen </strong> button.


/ .bottom_nav
/   %br.clear
/   = link_to '&laquo; Back', root_url, :class => 'back_button', :id => 'next'
%br.clear
%br.clear
%br.clear
